<h3>Danh sách  Books</h3>
<br>
<h6>Danh sách có {{books.length}} quyển sách </h6>
<button ><a routerLink="/create">Thêm mới</a></button>
<table class="table" border="1">
  <tr class="table border">
    <th class="card-header">STT</th>
    <th class="card-header">Tên Sách</th>
    <th class="card-header">Tác Giả</th>
    <th class="card-header">Active</th>
  </tr>
  <tr *ngFor="let item of books, let ind = index" >
      <td class="stt">{{ind +1}}</td>
      <td><a routerLink="/detail/{{item.id}}">{{item.title}}</a> </td>
      <td>{{item.author}}</td>
      <td><a routerLink="/edit/{{item.id}}">Sửa</a> || <a routerLink="/delete/{{item.id}}">Xóa</a></td>

  </tr>
</table>
